### Python #####################################################################
# Bytecode objects
__pycache__/
*.py[cod]
*$py.class

### Nix Build System ###########################################################
# Build output
/result
