### Python #####################################################################
# Bytecode objects
__pycache__/
*.py[cod]
*$py.class
*.egg-info

### Nix Build System ###########################################################
# Build output
/result
